.container{
    padding: 0.5rem 1rem;
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom:2rem;

    &__title{
        text-transform: uppercase;
        font-weight: 500;
        color:rgb(137, 164, 147)
    }
    &__input{
        display: flex;
        align-items: center;
        gap: 0.75rem;

        input{
            width: 6rem;
            height: 2.5rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: 1px solid rgb(161, 161, 161);
            outline: none;
            font-family: 'Anta';
            font-size: 1.5rem;
        }
        &__label{
            text-transform: lowercase;
            font-weight: 400;
            font-size: 1rem;
            color:rgba(95, 110, 100, 0.778)
        }
    }
}

.submit{
    width: 40%;
    height: 2.5rem;
    background:rgb(74, 182, 121);
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 1rem;
    margin-top:1rem;
    text-transform: uppercase;

}

