@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 242, 242);
}
.BMI{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    margin-top: 4rem;
    width: 50vw;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.053);
    font-family: 'Poppins';
    overflow: hidden;
    
    &__container{
        padding: 1rem;
    }

}